<div class="commit_details">
  <%= erb :commit_info, :layout => false %>
</div>
<% @commit.show.each do |bit| %>
  <div class="bit">
    <% if bit.deleted_file %>
      <p><%= bit.b_path %> was deleted.</p>
    <% else %>
      <div class="diff">
        <h2><%= bit.b_path %></h2>
        <div class="diff_container">
          <%= diff bit %>
        </div>
      </div>
    <% end %>
  
    <% if bit.comments.length == 0 %>
      <p>No comments - <a href="#" class="show_comment_form">add one</a></p>
    <% else %>
      <ul class="comments">
      <% bit.comments.each do |comment| %>
        <li class="comment person" id="comment_<%= comment.id %>">
          <%= gravatar comment.author_email %>
          <p class="author"><%= comment.author_name %> <span class="date">(<%= comment.created_at.strftime("%d %b, %Y") %>)</span></p>
          <div class="body"><%= comment.body %></div>
        </li>
      <% end %>
      </ul>
      <p><a href="#" class="show_comment_form">add a comment</a></p>
    <% end %>
  
    <form action="/<%= params[:repo] %>/commit/<%= params[:sha] %>/comments" method="post" class="comment_form">
      <input type="hidden" name="path" value="<%= bit.b_path %>" />
      <label for="author_name">Your name:</label><input type="text" name="author_name" class="text" value="<%= @author_name %>"/>
      <label for="author_email">Your email:</label><input type="text" name="author_email" class="text" value="<%= @author_email %>" />
      <label for="body">Comment:</label><textarea name="body"></textarea>
      <input type="submit" />
    </form>
    

  </div>
<% end %>

<script language="javascript">
  $(function() {
    $(".comment_form").hide();
    $(".show_comment_form").click(function() {
      $(this).parent().parent().find(".comment_form").slideToggle();
      return false;
    })
  })
</script>